/build/
/depChart.txt
/bootLog.txt
.rvmrc
.gradle/
.idea/
.DS_Store
private/
target/
build/
data/
gwt-unitCache/
widgetsets/
.project
.classpath
.settings
.springBeans
*.iml
*.ipr
*.iws
*.ids
*.bak
*.log*
.*.sw*
/doc/md/jrebel.md
/bin/
gradle.properties
/.cache-main
/.cache-tests
.tmpBin/
/manifests/
manifest.yml
